* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #f2efdf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 65px;
  width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  position: relative;
  z-index: 99;
}
nav .logo {
  width: 92px;
  height: 42px;
  border: 2px solid #fff;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav .logo p {
  font-size: 20px;
  position: absolute;
  top: 35px;
}
nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul a {
  text-decoration: none;
  color: #fff;
}
nav .links {
  min-width: 300px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  left: 685px;
}
nav .links a {
  margin-right: 5px;
  padding-right: 10px;
  border-right: 1px solid #f2ddd5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.other-nav {
  height: 65px;
  width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  border-bottom: 2px solid #000;
  margin-bottom: 86.5px;
}

.other-logo {
  width: 92px;
  height: 42px;
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 2px solid #000;
}
.other-logo p {
  font-size: 20px;
  position: absolute;
  top: 35px;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul a {
  text-decoration: none;
  color: #000;
}
ul .other-links {
  min-width: 300px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  left: 685px;
}
ul .other-links a {
  margin-right: 5px;
  padding-right: 10px;
  border-right: 1px solid #f2ddd5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
}

.home {
  margin-top: -99px;
}
.home .hero {
  height: 500px;
  background-image: linear-gradient(rgba(103, 115, 77, 0.5), rgba(103, 115, 77, 0.5)), url(../images/livingRoomhero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.home .hero .hero-text {
  text-align: center;
  color: whitesmoke;
  padding-top: 200px;
}
.home .hero .hero-text h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 40px;
}
.home .hero .hero-text #pink-text {
  margin-bottom: 50px;
  color: #f2ddd5;
  font-style: italic;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home .hero .hero-text button {
  background-color: #f2ddd5;
  height: 40.04px;
  width: 121.62px;
  color: white;
  border: none;
  margin-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home .quote {
  height: 300px;
  width: 789px;
  margin: 0 auto;
}
.home .quote .lao-quote {
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  color: #7b8c56;
  margin-top: 150px;
}
.home .quote .name {
  color: #67734d;
}
@font-face {
  font-family: "Font1";
  src: url(../fonts/PTSerif-Regular.ttf) format("ttf");
}
.home .quote .lao-title {
  color: #a8a8a8;
  font-size: 12px;
  margin-top: -10px;
}

.about-hero {
  background-image: linear-gradient(rgba(103, 115, 77, 0.5), rgba(103, 115, 77, 0.5)), url(../images/livingRoomhero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 979.5px;
  height: 378.75px;
  margin-top: 85.5px;
  margin: 0 auto;
}
.about-hero p {
  color: #f5f5f5;
  border-bottom: 2px solid #000;
  position: absolute;
  font-size: 25px;
  top: 510px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}

.about-content {
  width: 980px;
  height: 96px;
  margin: 0 auto;
  margin-top: 36.5px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  margin-bottom: 95px;
}

.pro-header {
  border-bottom: 2px solid #000;
  position: absolute;
  top: 100px;
  left: 270px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  font-weight: lighter;
}

.project-content {
  width: 981px;
  height: 513px;
  margin: 0 auto;
  margin-bottom: 60px;
  position: relative;
}
.project-content .pic1 {
  position: relative;
  z-index: 1000px;
  width: 489px;
  height: 187px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-content .pic1 button {
  width: 489px;
  height: 187px;
  background-image: url(../images/livingRoomhero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.project-content .pic2 {
  width: 187px;
  height: 187px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 306px;
  left: 509px;
}
.project-content .pic2 button {
  width: 187px;
  height: 187px;
  background-image: url(../images/Music\ Creators\ Callout\ Ad.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.project-content .pic3 {
  width: 265px;
  height: 187px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 306px;
  left: 716px;
}
.project-content .pic3 button {
  width: 265px;
  height: 187px;
  background-image: url(../images/advertFinaldraft.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.project-content .pic4 {
  width: 603px;
  height: 306px;
  margin-right: 20px;
  position: absolute;
}
.project-content .pic4 button {
  width: 603px;
  height: 306px;
  background-image: url(../images/eyesDigitalpainting.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.project-content .pic5 {
  width: 355px;
  height: 306px;
  position: absolute;
  left: 626px;
}
.project-content .pic5 button {
  width: 355px;
  height: 306px;
  background-image: url(../images/redPandaCharacter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.pro1-hero {
  background-image: url(../images/livingRoomhero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 979.5px;
  height: 378.75px;
  margin-top: 85.5px;
  margin: 0 auto;
}
.pro1-hero .romanNum {
  font-size: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #c4bfd9;
  filter: drop-shadow(5px 5px 6px #000000);
  position: absolute;
  bottom: 110px;
}
.pro1-hero .title {
  font-size: 140px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #c4bfd9;
  filter: drop-shadow(5px 5px 6px #000);
  position: absolute;
  bottom: 150px;
  right: 400px;
}

.sub-pro-content {
  width: 980px;
  height: 96px;
  margin: 0 auto;
  margin-top: 36.5px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  margin-bottom: 95px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sub-pro-content .pro-p-1 {
  width: 490px;
  margin-right: 40px;
}
.sub-pro-content .pro-p-2 {
  width: 451px;
}

.pro2-hero {
  background-image: url(../images/Music\ Creators\ Callout\ Ad.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 979.5px;
  height: 378.75px;
  margin-top: 85.5px;
  margin: 0 auto;
}
.pro2-hero .romanNum2 {
  font-size: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f2ddd5;
  filter: drop-shadow(5px 5px 6px #000000);
  position: absolute;
  bottom: 110px;
}
.pro2-hero .title2 {
  font-size: 140px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f2ddd5;
  filter: drop-shadow(5px 5px 6px #000);
  position: absolute;
  bottom: 150px;
  right: 550px;
}

.sub-pro-content {
  width: 980px;
  height: 96px;
  margin: 0 auto;
  margin-top: 36.5px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  margin-bottom: 95px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sub-pro-content .pro-p-1 {
  width: 490px;
  margin-right: 40px;
}
.sub-pro-content .pro-p-2 {
  width: 451px;
}

.pro3-hero {
  background-image: url(../images/advertFinaldraft.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 979.5px;
  height: 378.75px;
  margin-top: 85.5px;
  margin: 0 auto;
}
.pro3-hero .romanNum3 {
  font-size: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #67734d;
  filter: drop-shadow(5px 5px 6px #000000);
  position: absolute;
  bottom: 110px;
}
.pro3-hero .title3 {
  font-size: 140px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #67734d;
  filter: drop-shadow(5px 5px 6px #000);
  position: absolute;
  bottom: 150px;
  right: 580px;
}

.sub-pro-content {
  width: 980px;
  height: 96px;
  margin: 0 auto;
  margin-top: 36.5px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  margin-bottom: 95px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sub-pro-content .pro-p-1 {
  width: 490px;
  margin-right: 40px;
}
.sub-pro-content .pro-p-2 {
  width: 451px;
}

footer {
  min-height: 455px;
  background-color: #7b8c56;
  position: relative;
}
footer .footContent {
  position: absolute;
  left: 700px;
  top: 36px;
}
footer .footContent .foot-logo {
  width: 92px;
  height: 42px;
  border: 2px solid #fff;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
footer .footContent .foot-logo p {
  font-size: 20px;
  position: absolute;
  top: 25px;
}
footer .footContent .address {
  margin-top: 46px;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  left: -70px;
}
footer .footContent .phoneNum {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 110px;
}
footer .footContent .gMail {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  top: 130px;
  left: -10px;
}
footer .footContent .fakeInput {
  height: 60px;
  width: 696px;
  position: relative;
  left: -300px;
  top: 150px;
}
footer .footContent .fakeInput .pinkArea {
  width: 529px;
  background-color: #f2efdf;
  height: 60px;
}
footer .footContent .fakeInput .pinkArea .placeHold {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
  font-size: 16px;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-left: 23px;
}
footer .footContent .fakeInput .whiteArea {
  width: 167px;
  background-color: #f2ddd5;
  height: 60px;
  position: absolute;
  top: 0px;
  left: 529px;
}
footer .footContent .fakeInput .whiteArea .fakeBtn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #67734d;
  font-size: 16px;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 21px;
  padding-left: 39px;
}
footer .footContent .social-medias {
  display: flex;
  position: absolute;
  top: 300px;
  left: -20px;
}
footer .footContent .social-medias .linkedin {
  height: 31px;
  width: 31px;
  margin-right: 30.5px;
}
footer .footContent .social-medias .insta {
  height: 31.22px;
  width: 31.22px;
  margin-right: 30.5px;
}
footer .footContent .social-medias .twitter {
  height: 31.22px;
  width: 31.22px;
}
footer .footContent .copyright {
  position: absolute;
  left: -50px;
  top: 380px;
}
footer .footContent .copyright p {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
}
