.photo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-left: 600px;
  width: 265px;
  height: 265px;
  background-color: $site-dark-green;
  border-radius: 50%;
  .headshot {
    border-radius: 50%;
    // background-color: palevioletred;
    width: 250px;
    height: 250px;
  }
}

h1 {
}
