// colors

$site-cream: #f2efdf;
$site-pink: #f2ddd5;
$site-purple: #c4bfd9;
$site-light-green: #7b8c56;
$site-dark-green: #67734d;
$site-white: #fff;

//width
$home-content-width: 818px;
$content-width: 980px;
